
           pre{
            color:#FF00FF;
            font-size:25px;
        }

        .one
        {
            color: blueviolet;
            font-size: 30px;
        }

        #one
        {
            color: brown;
            font-size: 10px;
        }